<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <h1>Handlebars</h1>
  <ul>
    {{#each users as |user|}}
    <li><a href="/{{user.id}}">{{user.name}}</a></li>
    {{else}}
    <li>There is no users in DB!</li>
    {{/each}}
  </ul>
  
  <div class="pic">
    <p>
      <a href="#" onclick="showForm()">Create new user</a>
    </p>
  </div>

  <h1 class="edit">New user</h1>
  <dl class="edit">
    <dt>Name</dt>
    <dd><input id="name" type="text" value=""></dd>
    <br>
    <dt>Age</dt>
    <dd><input id="age" type="number" value=""></dd>
    <br>
    <dt>Address</dt>
    <dd><input id="address" type="text" value=""></dd>
    <br>
    <dt>Favorite fruit</dt>
    <dd><input id="fruit" type="text" value=""></dd>
    <br>
    <dt></dt>
    <dd>
      <input type="submit" value="Create" onclick="create()">
      <input type="submit" value="Cancel" onclick="cancel()">
    </dd>
  </dl>

  <script>
    function showForm () {
      [...document.querySelectorAll('.view')].forEach(el => el.style.display = 'none');
      [...document.querySelectorAll('.edit')].forEach(el => el.style.display = '');
    }

    function cancel () {
      [...document.querySelectorAll('.view')].forEach(el => el.style.display = '');
      [...document.querySelectorAll('.edit')].forEach(el => el.style.display = 'none');
    }

    function create () {
        fetch('/'+document.querySelectorAll('#name')[0].value, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.querySelectorAll('#name')[0].value,
                age: document.querySelectorAll('#age')[0].value,
                address: document.querySelectorAll('#address')[0].value,
                fruit: document.querySelectorAll('#fruit')[0].value
              })
        }).then((response) => {
          cancel();
          location.reload();
        })
    }


    cancel();


  </script>

</body>
</html>
